name: Tests

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  tests:
    runs-on: ubuntu-latest
    # Skip the entire job if repo is private
    if: ${{ !github.event.repository.private }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Tests
        uses: Yandex-Practicum/test-project-action@v1
        with:
          project: 'posmotri-v-okno-ad'
